body { 
    background-image: url('../images/stars2.jpg');
    background-repeat: scroll;
    background-position: center top;
    
}


h1 {
    
    font-family: 'VT323', monospace;
    font-size: 500%;
    width: 50%;
    color: black;
    font-size: 8vw;
    border: 4px solid black;
    text-align: center;
    padding: 1% ; 
    margin: 1% auto 10px auto;
    

    background-color: white;
}

h2 {
    font-family: 'VT323', monospace;
    display: inline;
    color: black;
    border: 4px solid black;
    text-align: center;
    padding: 10px;
    background-color: white;
}

h3 {
    font-family: 'VT323', monospace;
    display: inline;
    color: white;
    font-size: 200%;
    margin: auto auto;
    
    text-align: left;
    padding-top: 1%;
    padding-bottom: 1%;
    
}

p {
    font-family: 'VT323', monospace;
    margin: 50px 10px 10px 10px;
    color: white;
    font-size: 3vw;
    background-color: black;
    padding: 5px;
    margin: 10px auto 10px auto;
    width: 40%;
    
}

#line {
    margin: 10px auto 10px auto;
    padding: 10px auto 10px auto;
    align-self: center;
}


#media {
    
    float: center;
    margin: 10px 7% 10px 7%;
}
#video {
    margin: 10% auto 10% auto;
}

div {
    text-align: center;
    margin: 7% auto 7% auto;
}

a:link {
    color: black;
}
a:visited{
    color: black;
}

#menu{
    text-align: center;
    margin: auto auto;
}
#emailForm{
    font-family: 'VT323', monospace;
    margin: 2% 10% 10% 10%;
    color: white;

}
#label{
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 5%;
    font-size: 300%;
    float: center;
    display: block;
    padding: 1% 1% 1% 1%;
}
#newLine{
    display: block;
}
#smallPic{
    width: 20%;
    height: 20%;
    margin: auto auto auto auto;
}
#medPic{
    width: 50%;
    height: 50%;
    margin: auto auto auto auto;
}
#divider{
    margin-left: 0px auto;
    width: 25%;
    height: 25%;
    text-align: center;
    display: block;
}
img.align-center {
    display: block;
    margin: 0px auto;
}
#date{
    background-color: white;
    font-family: 'VT323', monospace;
    font-size: 3vw;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
#spaceFlower{
    height: 75%;
    width: 75%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#sprite{
    height: 15%;
    width: 15%;
    margin-bottom: 30px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    float: center;
}

#smallSocial{
    height: 5%;
    width: 5%;
    
}

#welcome{
    font-size: 200%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

#player{
    display: block;
    width: 50%;
    margin: 10px auto 10px auto;
}
#spacing{
    margin: 10px auto 75px auto;
}
#banner{
    margin: 100px auto 100px auto;
    display: block;
}
