body { 
    background-image: url('../images/stars2.jpg');
    background-repeat: repeat;
    background-position: center top;
    
}

a:link {
    color: black;
}

a:visited {
    color: black;
}


h1 {
    
    font-family: 'VT323', monospace;
    width: 100%;
    color: black;
    font-size: 7vw;
    border: 4px solid black;
    text-align: center;
    background-color: white;
    top: 0px;
    left: 0px;
    margin: 0px 0px 1% 0px;
}

tr {
    display:block;
    width: 100%;
}

table{
    width: 75%;
    align-content: center;
    margin: 5% auto 5% auto;
}

th , td {
    display: inline;
    font-family: 'VT323', monospace;
    font-size: 4.5vw;
    background-color: white;
    padding: 7% 10% 7% 10%;
    border: 4px solid black;
    width: 35%;
    margin-top: 10%;
    margin-bottom: 10%;
}

th{
    font-style: oblique;
    font-size: 4vw;
}

#tablePic{
    height: 10%;
    width: 10%;
    align-content: center;
    margin-top: 10%;
    
}


#tableDiv{
    width: 100%;
}


h2 {
    font-family: 'VT323', monospace;
    font-size: 3vw;
    display: block;
    color: black;
    border: 4px solid black;
    text-align: center;
    padding: 1vw 1vw 1vw 1vw;
    background-color: white;
    margin: 0px;
    width: 35%;
    margin-left:auto;
    margin-right:auto;
    

}

h3 {
    font-family: 'VT323', monospace;
    display: inline;
    color: white;
    font-size: 200%;
    margin: auto auto;
    
    text-align: left;
    padding-top: 1%;
    padding-bottom: 1%;
    
}

p {
    font-family: 'VT323', monospace;
    margin: 50px 10px 10px 10px;
    color: white;
    font-size: 3vw;
    background-color: black;
    padding: 5px;
    margin: 10px auto 10px auto;
    width: 75%;
}

#pPost {
    font-family: 'VT323', monospace;
    font-size: 3vw;
    display: block;
    color: black;
    border: 4px solid black;
    text-align: center;
    padding: 1vw 1vw 1vw 1vw;
    background-color: white;
    margin: 0px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}




#box {
    font-size: 3vw;
    text-align: center;
    align-content: center;
    display: inline;
    margin: 0px;
}

#bottomButton {
    font-size: 3vw;
    text-align: center;
    align-content: center;
    display: inline;
    margin: 0px;
    align-self: center;
}

#bottomBar {
    position: fixed;
    margin-bottom: 0px;
    bottom: 0px;
}

#line {
    margin: 10px auto 10px auto;
    padding: 10px auto 10px auto;
    align-self: center;
}

#menu {
    text-align: center;
    top: 0px;
    left: 0px;
    align-content: center;
    color: black;
    background-color: black;
    display: block;
    width: 100%;
    padding: 2px;
    margin: 0px 0px 0px 0px;
    border: 4px solid black;
}


#media { 
    
    margin: 10px 7% 10px 7%;
    height: 25%;
    width: 25%;
}
#date {
    background-color: white;
    font-family: 'VT323', monospace;
    font-size: 3vw;
    width: 100%;
    height: 100%;
    padding: 1vw 3vw 1vw 3vw;
    border: 4px solid black;
}
#video {
    margin: 10% auto 10% auto;
}

div {
    text-align: center;
    margin: 7% auto 7% auto;
}

#post {
    background-color: black;
    width: 60%;
}





#emailForm{
    font-family: 'VT323', monospace;
    margin: 2% 10% 10% 10%;
    color: white;
}
#label{
    margin-left: 0%;
    margin-top: 10%;
    font-size: 3vw;
    display: block;
    padding: 1% 1% 1% 1%;
}
#newLine{
    display: block;
}
#smallPic{
    width: 30%;
    height: 30%;
    margin: auto auto auto auto;
}

#postPic1{
    width: 60%;
    height: 60%;
    margin-top:1%;
}
#medPic{
    width: 50%;
    height: 50%;
    margin: auto auto auto auto;
}
#divider{
    margin-left: 0px auto;
    width: 25%;
    height: 25%;
    text-align: center;
    display: block;
}
img.align-center {
    display: block;
    margin: 0px auto;
}

#spaceFlower{
    height: 75%;
    width: 75%;
}

#sprite{
    height: 15%;
    width: 15%;
    margin-bottom: 30px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    float: center;
}

#smallSocial{
    height: 15%;
    width: 15%;
    
}

#welcome{
    font-size: 200%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

#player{
    display: block;
    width: 50%;
    margin: 10px auto 10px auto;
}
#spacing{
    margin: 10px auto 75px auto;
}
#banner{
    margin: 100px auto 100px auto;
    display: block;
    width: 40%;
    height: 40%;
}
#openSpacing{
    margin: 10%;
}