header, main, nav, footer, figure, figcaption, aside, section, article {display: block} /*/HTML 5 Support for old browsers
    */
body {
    background-color: white;
    font-family: 'Cormorant Garamond', serif;
}

main {
    font-family: 'VT323', monospace;
}



header {
    text-align: center;
}

nav {
    margin-left: 0px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
}

    nav a {
        margin-top: 0px;
        display: inline;
        width: auto;
        background-color: white;
        color: black;
        font-size: 150%;
        padding: 0% 1% 1% 1%;
    }

nav a .current{
    text-decoration: none;
}

nav a:hover{
    text-decoration: none;
}


h1 {
    background-color: white;
    color: black;
    font-size: 600%;
    text-align: left;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: none;
    padding-left: 2%;
    border-bottom: 2px solid black;
    
}

.blockCenterEighty{
    width: 80%;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    font-size: 200%;
    color: black;
}

p{
    color: black;
    font-size: 150%;
    text-align: center;
}

.eightyPercent{
    width: 80%;
    height: 80%;
}

.twentyFivePercent{
    width: 25%;
    height: 25%;
}

.albumArt {
    height: 350px;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.inline-Block{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#images{
    text-align: center;
}

.floatBlock{
    display: inline;
    width: 50%;
}

#leftMargin{
    margin-left: 11%;
}

.center{
    margin-left: auto;
    margin-right: auto;
    position: relative;
}








h3 {
    border-bottom: 2px solid black;
    margin-bottom: 0;
    color: white;
}










#wrapper{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


input{
    color: white;
}

tr{
    color: white;
    background-color: #696969;
}

td{
    color: white;
    border: 2px solid black;
}

th{
    background-color:  black;
}


footer{
    margin-top: 20px;
    font-size: 70%;
    font-style: italic;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


.mobile{
    display: none;
}

.block {
    display: block;
}


.eightyPercent{
    width: 80%;
    height: 80%;
}



/*
    CSS Media Queries----------------------------------------------------------------------------------------------------------
    */


    





/* Large devices (tablets, 992px and down) */
@media only screen and (max-width: 992px) {
   

}

/*// Small devices (landscape phones, 576px and up)*/
@media only screen and (max-width: 768px) {
   

}



/*font-family: 'Oswald', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Poiret One', cursive;

    */




